In [1]:
!pip install kaggle --upgrade

Requirement already satisfied: kaggle in c:\users\abhis\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\abhis\anaconda3\lib\site-packages (from bleach->kaggle) (23.0)
Requirement already satisfied: webencodings in c:\users\abhis\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\abhis\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\abhis\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhis\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\abhis\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
import os

# Define the target directory on the D: drive
target_dir = r'D:\MySirG\Project\Data Analytics and SQL'

In [3]:
# Check if the directory exists; if not, create it
if not os.path.exists(target_dir):
    os.makedirs(target_dir)
    print(f"Created directory: {target_dir}")
else:
    print(f"Directory already exists: {target_dir}")

Directory already exists: D:\MySirG\Project\Data Analytics and SQL

In [4]:
# Download the 'orders_data.csv' file into the specified directory
!kaggle datasets download akshatagrawal9431/shipment-orders-dataset -f orders_data.csv -p {target_dir}

usage: kaggle [-h] [-v] [-W]
              {competitions,c,datasets,d,kernels,k,models,m,files,f,config}
              ...
kaggle: error: unrecognized arguments: Analytics and SQL

In [5]:
import os

# Define the target directory on the D: drive
target_dir = r'D:\MySirG\Project\Data Analytics and SQL'

# Create the directory if it doesn't exist
if not os.path.exists(target_dir):
    os.makedirs(target_dir)
    print(f"Created directory: {target_dir}")
else:
    print(f"Directory already exists: {target_dir}")

# Use f-string with additional quotes around the path
!kaggle datasets download akshatagrawal9431/shipment-orders-dataset -f orders_data.csv -p "{target_dir}"

Directory already exists: D:\MySirG\Project\Data Analytics and SQL
Dataset URL: https://www.kaggle.com/datasets/akshatagrawal9431/shipment-orders-dataset
License(s): CC0-1.0
Downloading orders_data.csv.zip to D:\MySirG\Project\Data Analytics and SQL

  0%|          | 0.00/197k [00:00<?, ?B/s]
100%|##########| 197k/197k [00:00<00:00, 264kB/s]
100%|##########| 197k/197k [00:00<00:00, 264kB/s]

In [6]:
import os
import zipfile

# Define the target directory where the zip file is located
target_dir = r'D:\MySirG\Project\Data Analytics and SQL'

# Define the path to the downloaded zip file
zip_file_path = os.path.join(target_dir, 'orders_data.csv.zip')

# Check if the zip file exists
if os.path.exists(zip_file_path):
    print(f"Found zip file: {zip_file_path}")
    
    # Unzip the file
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(target_dir)
        print(f"Extracted contents to: {target_dir}")
    
    # Optionally, delete the zip file after extraction
    os.remove(zip_file_path)
    print(f"Deleted zip file: {zip_file_path}")
else:
    print(f"Zip file not found: {zip_file_path}")

Found zip file: D:\MySirG\Project\Data Analytics and SQL\orders_data.csv.zip
Extracted contents to: D:\MySirG\Project\Data Analytics and SQL
Deleted zip file: D:\MySirG\Project\Data Analytics and SQL\orders_data.csv.zip

In [7]:
import pandas as pd

In [8]:
import os

# Define the path to the directory containing your CSV file
new_directory = r'D:\MySirG\Project\Data Analytics and SQL'

# Change the current working directory
os.chdir(new_directory)

# Confirm the change
print(f"Current working directory: {os.getcwd()}")

Current working directory: D:\MySirG\Project\Data Analytics and SQL

In [9]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('orders_data.csv')

# Display the first few rows of the dataframe
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [10]:
df.shape
#rows and columns

(9994, 16)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [12]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [13]:
# by default it considers few values as NA, but I want to it consider Not-Available, unkowon as NA only

df1 = pd.read_csv('orders_data.csv', na_values=['Not Available', 'unknown'])
df1['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [14]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [15]:
df1['Selling_Price']=df1['List Price']-df1['List Price']*(df1['Discount Percent']/100)
df1['Selling_Price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: Selling_Price, Length: 9994, dtype: float64

In [16]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling_Price
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1

In [17]:
df1['Profit']=df1['Selling_Price']-df1['cost price']
df1['Profit']

0        14.8
1       108.1
2        -0.5
3       160.8
4        -1.0
        ...
9989     -1.2
9990     16.4
9991     34.8
9992     -0.9
9993     22.8
Name: Profit, Length: 9994, dtype: float64

In [18]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling_Price,Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

In [19]:
df1.rename(columns={'Profit':'Unit_Profit','Selling_Price':'Unit_Selling_Price'},inplace=True)
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

In [20]:
df1.dtypes

Order Id                int64
Order Date             object
Ship Mode              object
Segment                object
Country                object
City                   object
State                  object
Postal Code             int64
Region                 object
Category               object
Sub Category           object
Product Id             object
cost price              int64
List Price              int64
Quantity                int64
Discount Percent        int64
Unit_Selling_Price    float64
Unit_Profit           float64
dtype: object

In [21]:
#changing datatype of Order Date column from object to datetime
df1['Order Date']=pd.to_datetime(df1['Order Date'],format='%d-%m-%Y')

In [22]:
df1.dtypes

Order Id                       int64
Order Date            datetime64[ns]
Ship Mode                     object
Segment                       object
Country                       object
City                          object
State                         object
Postal Code                    int64
Region                        object
Category                      object
Sub Category                  object
Product Id                    object
cost price                     int64
List Price                     int64
Quantity                       int64
Discount Percent               int64
Unit_Selling_Price           float64
Unit_Profit                  float64
dtype: object

In [23]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

In [24]:
#dropping few columns
#df1.drop(columns=['Selling Price'],inplace=True)

In [25]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

In [26]:
# Calculating total profit in each Order
df1['Total Profit']=df1['Quantity']*df1['Unit_Profit']
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0,-2.0

In [27]:
#Exporting dataframe to SQL - using SQLALCHEMY library
#To connect to a MySQL database using SQLAlchemy, you'll need to install the pymysql package, which acts as a connector between Python and MySQL.
!pip install pymysql
import sqlalchemy as sal

Requirement already satisfied: pymysql in c:\users\abhis\anaconda3\lib\site-packages (1.1.1)

In [28]:
engine = sal.create_engine('mysql+pymysql://root:21BLC1392@localhost:3306/Data_Analytics_project')

In [29]:
with engine.connect() as connection:
    result = connection.execute("SELECT VERSION();")
    version = result.fetchone()

# Print the MySQL version
print("Connected to MySQL version:", version[0])

Connected to MySQL version: 8.0.33

In [30]:
conn=engine.connect()
conn

In [31]:
df1.to_sql('orders_data', con=conn , index=False, if_exists = 'replace')  # or if_exists = 'append'

9994

This line uses the Pandas to_sql method to write the DataFrame df to the table named orders_data in the SQL Server database. The con parameter specifies the connection object, index=False indicates that the DataFrame's index should not be written as a separate column in the database table, and if_exists='replace' indicates that if the table already exists, it should be replaced. Alternatively, you can use if_exists='append' to add new rows to the existing table.


__Questions:
Q1. Find top 10 highest profit generating products

In [32]:
df1.groupby('Product Id')

In [33]:
df1.groupby('Product Id').sum(['Total Profit'])

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit
Product Id,,,,,,,,,
FUR-BO-10000112,3513,60653,760,830,9,3,805.1,45.1,405.9
FUR-BO-10000330,13658,256733,890,1060,10,7,1036.4,146.4,560.0
FUR-BO-10000362,18886,184360,1900,2160,14,17,2089.4,189.4,638.6
FUR-BO-10000468,35749,357215,620,730,21,18,706.1,86.1,380.6
FUR-BO-10000711,9310,120635,790,850,12,5,830.9,40.9,345.9
...,...,...,...,...,...,...,...,...,...
TEC-PH-10004912,21739,166396,440,510,11,9,493.8,53.8,203.8
TEC-PH-10004922,31470,296048,980,1080,19,21,1037.3,57.3,259.2
TEC-PH-10004924,13937,105326,50,50,8,10,48.2,-1.8,-6.0
TEC-PH-10004959,5191,83105,300,340,4,7,328.8,28.8,74.4
TEC-PH-10004977,49957,473928,4700,5300,32,33,5099.0,399.0,1593.2

In [34]:
df1.groupby('Product Id').sum(['Total Profit']).sort_values(by=['Total Profit'],ascending=False)

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit
Product Id,,,,,,,,,
TEC-CO-10004722,28222,194875,53870,61600,20,17,59514.0,5644.0,24816.0
TEC-MA-10002412,2698,32216,18110,22640,6,4,21734.4,3624.4,21746.4
OFF-BI-10000545,57937,302599,16290,19030,48,31,18249.0,1959.0,17867.7
TEC-CO-10001449,41444,428939,15520,18840,38,29,18151.2,2631.2,15948.0
FUR-CH-10002024,44560,448062,18850,21860,39,27,21096.2,2246.2,13930.7
...,...,...,...,...,...,...,...,...,...
OFF-BI-10003712,46354,562879,130,130,45,38,124.7,-5.3,-35.7
OFF-AR-10003631,20973,277819,110,110,30,13,106.4,-3.6,-37.0
OFF-PA-10000143,38761,389204,160,160,29,22,153.8,-6.2,-39.5
OFF-BI-10002799,32515,368281,120,120,40,32,114.2,-5.8,-44.5
OFF-FA-10002280,54151,608473,260,260,47,32,251.8,-8.2,-48.2

In [35]:
df1.groupby('Product Id').sum(['Total Profit']).sort_values(by=['Total Profit'],ascending=False).reset_index()['Total Profit']

0       24816.0
1       21746.4
2       17867.7
3       15948.0
4       13930.7
         ...
1857      -35.7
1858      -37.0
1859      -39.5
1860      -44.5
1861      -48.2
Name: Total Profit, Length: 1862, dtype: float64

In [36]:
df1.groupby('Product Id').sum(['Total Profit']).sort_values(by=['Total Profit'],ascending=False).reset_index()[['Product Id','Total Profit']]

           Product Id  Total Profit
0     TEC-CO-10004722       24816.0
1     TEC-MA-10002412       21746.4
2     OFF-BI-10000545       17867.7
3     TEC-CO-10001449       15948.0
4     FUR-CH-10002024       13930.7
...               ...           ...
1857  OFF-BI-10003712         -35.7
1858  OFF-AR-10003631         -37.0
1859  OFF-PA-10000143         -39.5
1860  OFF-BI-10002799         -44.5
1861  OFF-FA-10002280         -48.2

[1862 rows x 2 columns]

create a column for Total Sales value of each order

In [37]:
df1['Total_Sale']=df1['Unit_Selling_Price']*df1['Quantity']
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1,324.3,2124.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5,-1.0,19.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8,804.0,4704.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0,-2.0,38.0




__Write a Python code to list all distinct cities where orders have been shipped.

In [38]:
df1['City'].unique()

#df['City'].nunique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville',
       'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson',
       'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City',
       'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy',
       'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton',
       'Ormond Beach', 'Sunnyvale', 'York', 'College Station',
       'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City',
       'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton',
       'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls',
       'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks',
       'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella',
       'Elmhurst', 'Passaic', 'North Charleston', 'Newport News',
       'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville',
       'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling',
       'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover',
       'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach',
       'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange',
       'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville',
       'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire',
       'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian',
       'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City',
       'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia',
       'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe',
       'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe',
       'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami',
       'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa',
       'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton',
       'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood',
       'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow',
       'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen',
       'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights',
       'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo',
       'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor',
       'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston',
       'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens',
       'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park',
       'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa',
       'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena',
       'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island',
       'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara',
       'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa',
       'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest',
       'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro',
       'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City',
       'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview',
       'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly',
       'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach',
       'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro',
       'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene',
       'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank',
       'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis',
       'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City',
       'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford',
       'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls',
       'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan',
       'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange',
       'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente',
       'San Luis Obispo', 'Springdale', 'Lodi', 'Mason'], dtype=object)

__Find all orders from the 'Technology' category that were shipped using 'Second Class' ship mode, ordered by order date

In [39]:
df1[(df1['Category']=='Technology') & (df1['Ship Mode']=='Second Class')].sort_values(by=['Order Date'])

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale
5420,5421,2022-01-01,Second Class,Consumer,United States,Philadelphia,Pennsylvania,19134,East,Technology,Phones,TEC-PH-10002789,260,280,3,4,268.8,8.8,26.4,806.4
1087,1088,2022-01-04,Second Class,Corporate,United States,Oakland,California,94601,West,Technology,Phones,TEC-PH-10004896,60,70,3,2,68.6,8.6,25.8,205.8
3271,3272,2022-01-05,Second Class,Corporate,United States,Visalia,California,93277,West,Technology,Accessories,TEC-AC-10003709,10,10,8,2,9.8,-0.2,-1.6,78.4
3526,3527,2022-01-06,Second Class,Home Office,United States,Jackson,Mississippi,39212,South,Technology,Phones,TEC-PH-10000148,40,40,3,4,38.4,-1.6,-4.8,115.2
9949,9950,2022-01-07,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Technology,Accessories,TEC-AC-10004568,70,80,3,3,77.6,7.6,22.8,232.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,2452,2023-12-23,Second Class,Consumer,United States,New York City,New York,10011,East,Technology,Phones,TEC-PH-10000149,100,120,6,3,116.4,16.4,98.4,698.4
2104,2105,2023-12-26,Second Class,Corporate,United States,New York City,New York,10009,East,Technology,Accessories,TEC-AC-10001266,30,30,2,3,29.1,-0.9,-1.8,58.2
1666,1667,2023-12-28,Second Class,Consumer,United States,Dallas,Texas,75217,Central,Technology,Accessories,TEC-AC-10003023,90,90,2,3,87.3,-2.7,-5.4,174.6
8248,8249,2023-12-30,Second Class,Home Office,United States,Philadelphia,Pennsylvania,19134,East,Technology,Phones,TEC-PH-10001795,610,740,2,5,703.0,93.0,186.0,1406.0
5341,5342,2023-12-31,Second Class,Consumer,United States,Oceanside,New York,11572,East,Technology,Accessories,TEC-AC-10002637,770,900,5,4,864.0,94.0,470.0,4320.0

__Find the average order value

In [40]:
import numpy as np
np.mean(df1['Total_Sale'])

1108.5979787872725

__Find the city with the highest total quantity of products ordered.

In [41]:
df1.groupby('City').sum('Quantity')['Quantity'].reset_index().sort_values(by=['Quantity'],ascending=False)

              City  Quantity
329  New York City      3417
266    Los Angeles      2879
374   Philadelphia      1981
438  San Francisco      1935
452        Seattle      1590
..             ...       ...
213      Iowa City         1
386    Port Orange         1
257    Lindenhurst         1
259      Littleton         1
140         Elyria         1

[531 rows x 2 columns]

__Rank orders in each region by quantity in descending order

In [42]:
df1[['Order Id','Region','Quantity']].sort_values(by=['Region','Quantity'],ascending=[True,False])
#Sort the data in asecnding order of the region and decending order of the quantity

      Order Id   Region  Quantity
660        661  Central        14
1045      1046  Central        14
7387      7388  Central        14
8074      8075  Central        14
9515      9516  Central        14
...        ...      ...       ...
9752      9753     West         1
9838      9839     West         1
9902      9903     West         1
9953      9954     West         1
9986      9987     West         1

[9994 rows x 3 columns]

__List all orders placed in the first quarter of any year (January to March), including the total cost for these orders

In [43]:
df1.head(2)
#create a column that only have month
df1['Month']=df1['Order Date'].dt.month
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,...,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,240,260,2,2,254.8,14.8,29.6,509.6,3
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,600,730,3,3,708.1,108.1,324.3,2124.3,8

In [44]:
df1[df1['Month'].isin([1,2,3])]

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,...,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,240,260,2,2,254.8,14.8,29.6,509.6,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,OFF-LA-10000240,10,10,2,5,9.5,-0.5,-1.0,19.0,1
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,...,FUR-FU-10001487,50,50,7,3,48.5,-1.5,-10.5,339.5,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,...,TEC-PH-10002275,860,910,6,5,864.5,4.5,27.0,5187.0,1
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,...,OFF-BI-10003910,20,20,3,2,19.6,-0.4,-1.2,58.8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9963,9964,2022-01-17,Same Day,Consumer,United States,Philadelphia,Pennsylvania,19140,East,Office Supplies,...,OFF-PA-10003072,10,10,2,3,9.7,-0.3,-0.6,19.4,1
9966,9967,2022-02-21,Second Class,Corporate,United States,Newark,Delaware,19711,East,Office Supplies,...,OFF-EN-10004483,100,110,7,4,105.6,5.6,39.2,739.2,2
9973,9974,2023-03-07,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Technology,...,TEC-PH-10004080,230,270,5,4,259.2,29.2,146.0,1296.0,3
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,...,FUR-FU-10001889,30,30,3,4,28.8,-1.2,-3.6,86.4,2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,...,FUR-FU-10000747,70,90,2,4,86.4,16.4,32.8,172.8,3

In [45]:
#Alternatives
df1['Quater']=df1['Order Date'].dt.quarter
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,...,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month,Quater
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,240,260,2,2,254.8,14.8,29.6,509.6,3,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,600,730,3,3,708.1,108.1,324.3,2124.3,8,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,10,10,2,5,9.5,-0.5,-1.0,19.0,1,1
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,...,780,960,5,2,940.8,160.8,804.0,4704.0,6,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,...,20,20,2,5,19.0,-1.0,-2.0,38.0,7,3

In [46]:
temp_df = df1[df1['Month'].isin([1, 2, 3])] \
            .groupby('Month')['cost price'] \
            .sum() \
            .reset_index()
temp_df

   Month  cost price
0      1      165980
1      2      197560
2      3      147900

__Find top 10 highest profit generating products

In [47]:
df1.groupby('Product Id').sum(['Total Profit'])['Total Profit'].reset_index().sort_values(by='Total Profit',ascending=False)

           Product Id  Total Profit
1614  TEC-CO-10004722       24816.0
1642  TEC-MA-10002412       21746.4
657   OFF-BI-10000545       17867.7
1604  TEC-CO-10001449       15948.0
80    FUR-CH-10002024       13930.7
...               ...           ...
788   OFF-BI-10003712         -35.7
589   OFF-AR-10003631         -37.0
1023  OFF-PA-10000143         -39.5
748   OFF-BI-10002799         -44.5
921   OFF-FA-10002280         -48.2

[1862 rows x 2 columns]

__Find top 3 highest selling products in each region acc to quantity

In [51]:
x=df1.groupby(['Region','Product Id']).sum('Quantity')['Quantity'].reset_index().sort_values(by=['Region','Quantity'],ascending=[True,False])
x

       Region       Product Id  Quantity
461   Central  OFF-BI-10000301        34
474   Central  OFF-BI-10000756        33
470   Central  OFF-BI-10000546        29
491   Central  OFF-BI-10001249        29
61    Central  FUR-CH-10002304        27
...       ...              ...       ...
5219     West  TEC-PH-10002185         1
5227     West  TEC-PH-10002447         1
5229     West  TEC-PH-10002483         1
5256     West  TEC-PH-10003357         1
5276     West  TEC-PH-10004120         1

[5298 rows x 3 columns]

__Total sale in each region

In [52]:
df1.groupby('Region').sum(['Total_Sale'])['Total_Sale'].reset_index().sort_values(by=['Total_Sale'],ascending=False)

    Region  Total_Sale
3     West   3467409.6
1     East   3257983.8
0  Central   2387881.2
2    South   1966053.6

__Find top 5 highest selling products in each region according to sales

In [53]:
df1.groupby(['Region','Product Id']).sum(['Total_Sale'])#.sort_values(by = ['Total_Sale'],ascending=False)

                         Order Id  Postal Code  cost price  List Price  \
Region  Product Id
Central FUR-BO-10000112      3513        60653         760         830
        FUR-BO-10000362      1595        61604         300         360
        FUR-BO-10000468      3031        48146         150         190
        FUR-BO-10000711      5221        48234         200         210
        FUR-BO-10000780     16297       229596        1980        2330
...                           ...          ...         ...         ...
West    TEC-PH-10004896      1088        94601          60          70
        TEC-PH-10004897      4320        87105          20          20
        TEC-PH-10004908     38344       421143        1310        1500
        TEC-PH-10004922     11121       180757         420         480
        TEC-PH-10004977     11216       262951        1410        1570

                         Quantity  Discount Percent  Unit_Selling_Price  \
Region  Product Id
Central FUR-BO-10000112         9                 3               805.1
        FUR-BO-10000362         3                 3               349.2
        FUR-BO-10000468         4                 5               180.5
        FUR-BO-10000711         3                 3               203.7
        FUR-BO-10000780        17                14              2223.1
...                           ...               ...                 ...
West    TEC-PH-10004896         3                 2                68.6
        TEC-PH-10004897         3                 4                19.2
        TEC-PH-10004908        22                22              1433.2
        TEC-PH-10004922         9                 9               459.2
        TEC-PH-10004977        10                13              1500.9

                         Unit_Profit  Total Profit  Total_Sale  Month  Quater
Region  Product Id
Central FUR-BO-10000112         45.1         405.9      7245.9      4       2
        FUR-BO-10000362         49.2         147.6      1047.6      1       1
        FUR-BO-10000468         30.5         122.0       722.0      9       3
        FUR-BO-10000711          3.7          11.1       611.1      7       3
        FUR-BO-10000780        243.1        1503.7     14003.7     16       6
...                              ...           ...         ...    ...     ...
West    TEC-PH-10004896          8.6          25.8       205.8      1       1
        TEC-PH-10004897         -0.8          -2.4        57.6     12       4
        TEC-PH-10004908        123.2         680.4      7300.4     25      10
        TEC-PH-10004922         39.2         199.2      2299.2     17       6
        TEC-PH-10004977         90.9         311.2      5101.2     19       8

[5298 rows x 12 columns]

In [54]:
df1.groupby(['Region', 'Product Id']).sum(['Total_Sale']).reset_index()

,Region,Product Id,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month,Quater
0,Central,FUR-BO-10000112,3513,60653,760,830,9,3,805.1,45.1,405.9,7245.9,4,2
1,Central,FUR-BO-10000362,1595,61604,300,360,3,3,349.2,49.2,147.6,1047.6,1,1
2,Central,FUR-BO-10000468,3031,48146,150,190,4,5,180.5,30.5,122.0,722.0,9,3
3,Central,FUR-BO-10000711,5221,48234,200,210,3,3,203.7,3.7,11.1,611.1,7,3
4,Central,FUR-BO-10000780,16297,229596,1980,2330,17,14,2223.1,243.1,1503.7,14003.7,16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,West,TEC-PH-10004896,1088,94601,60,70,3,2,68.6,8.6,25.8,205.8,1,1
5294,West,TEC-PH-10004897,4320,87105,20,20,3,4,19.2,-0.8,-2.4,57.6,12,4
5295,West,TEC-PH-10004908,38344,421143,1310,1500,22,22,1433.2,123.2,680.4,7300.4,25,10
5296,West,TEC-PH-10004922,11121,180757,420,480,9,9,459.2,39.2,199.2,2299.2,17,6
5297,West,TEC-PH-10004977,11216,262951,1410,1570,10,13,1500.9,90.9,311.2,5101.2,19,8

In [55]:
x = df1.groupby(['Region', 'Product Id']).sum(['Total_Sale'])['Total_Sale'].reset_index()
y = x.sort_values(by = ['Region', 'Total_Sale'], ascending=[True, False])
y.groupby('Region').head(5).reset_index()

    index   Region       Product Id  Total_Sale
0     469  Central  OFF-BI-10000545    125827.5
1    1166  Central  TEC-CO-10004722     84875.0
2    1168  Central  TEC-MA-10000822     77509.8
3     488  Central  OFF-BI-10001120     55282.5
4     617  Central  OFF-BI-10004995     42210.0
5    2556     East  TEC-CO-10004722    106421.0
6    2565     East  TEC-MA-10001047     81549.0
7    1342     East  FUR-BO-10004834     66364.2
8    2548     East  TEC-CO-10001449     60948.0
9    1369     East  FUR-CH-10002024     60189.6
10   3691    South  TEC-MA-10002412    130406.4
11   3719    South  TEC-PH-10001459     73932.1
12   2910    South  FUR-TA-10000198     68789.9
13   3687    South  TEC-MA-10001127     50499.2
14   3192    South  OFF-BI-10003527     32029.4
15   5088     West  TEC-AC-10003832     61170.8
16   5126     West  TEC-CO-10004722     53760.0
17   4964     West  OFF-SU-10000151     53337.9
18   4099     West  FUR-TA-10003473     52669.5
19   3890     West  FUR-CH-10003973     43596.4

__Find month over month growth comparison for 2022 and 2023 sales eg : jan 2022 vs jan 2023

In [68]:
df1['year'] = df1['Order Date'].dt.year

In [69]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,...,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month,Quater,year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,260,2,2,254.8,14.8,29.6,509.6,3,1,2023
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,730,3,3,708.1,108.1,324.3,2124.3,8,3,2023

In [70]:
a = df1.groupby(['Month', 'year']).sum('Total_Sale')['Total_Sale'].reset_index()
a

    Month  year  Total_Sale
0       1  2022    437431.3
1       1  2023    434765.5
2       2  2022    444011.1
3       2  2023    731638.8
4       3  2022    394105.2
5       3  2023    393051.9
6       4  2022    476400.9
7       4  2023    543231.5
8       5  2022    413625.5
9       5  2023    410707.9
10      6  2022    465300.3
11      6  2023    328939.0
12      7  2022    375278.4
13      7  2023    422533.7
14      8  2022    534562.4
15      8  2023    465010.3
16      9  2022    433887.0
17      9  2023    420620.5
18     10  2022    601707.8
19     10  2023    626498.3
20     11  2022    451809.6
21     11  2023    334940.6
22     12  2022    447421.8
23     12  2023    491848.9

In [71]:
pivot_table = a.pivot_table(index='Month', columns='year', values='Total_Sale', aggfunc='sum')
pivot_table

year       2022      2023
Month
1      437431.3  434765.5
2      444011.1  731638.8
3      394105.2  393051.9
4      476400.9  543231.5
5      413625.5  410707.9
6      465300.3  328939.0
7      375278.4  422533.7
8      534562.4  465010.3
9      433887.0  420620.5
10     601707.8  626498.3
11     451809.6  334940.6
12     447421.8  491848.9

In [72]:
#The line pivot_table = pivot_table.reset_index() is used to convert a pandas DataFrame's index back into columns.
pivot_table = pivot_table.reset_index()
pivot_table

year  Month      2022      2023
0         1  437431.3  434765.5
1         2  444011.1  731638.8
2         3  394105.2  393051.9
3         4  476400.9  543231.5
4         5  413625.5  410707.9
5         6  465300.3  328939.0
6         7  375278.4  422533.7
7         8  534562.4  465010.3
8         9  433887.0  420620.5
9        10  601707.8  626498.3
10       11  451809.6  334940.6
11       12  447421.8  491848.9

In [73]:
pivot_table['YoY_growth'] = pivot_table[2022] - pivot_table[2023]
pivot_table

# yoy growth column is added

year  Month      2022      2023  YoY_growth
0         1  437431.3  434765.5      2665.8
1         2  444011.1  731638.8   -287627.7
2         3  394105.2  393051.9      1053.3
3         4  476400.9  543231.5    -66830.6
4         5  413625.5  410707.9      2917.6
5         6  465300.3  328939.0    136361.3
6         7  375278.4  422533.7    -47255.3
7         8  534562.4  465010.3     69552.1
8         9  433887.0  420620.5     13266.5
9        10  601707.8  626498.3    -24790.5
10       11  451809.6  334940.6    116869.0
11       12  447421.8  491848.9    -44427.1

__For each category which month had highest sales

In [76]:
df1['Month-Year'] = df1['Order Date'].dt.strftime('%Y-%m')

In [77]:
b = df1.groupby(['Category', 'Month-Year']).sum(['Total_Sale'])['Total_Sale'].reset_index()
b

      Category Month-Year  Total_Sale
0    Furniture    2022-01    170244.5
1    Furniture    2022-02    192062.9
2    Furniture    2022-03    150128.1
3    Furniture    2022-04    162806.9
4    Furniture    2022-05    110578.8
..         ...        ...         ...
67  Technology    2023-08    117665.2
68  Technology    2023-09    137873.1
69  Technology    2023-10    295586.5
70  Technology    2023-11    121226.6
71  Technology    2023-12    156836.6

[72 rows x 3 columns]

In [78]:
c = b.sort_values(by = ['Category', 'Total_Sale'], ascending=[True, False])
c

      Category Month-Year  Total_Sale
19   Furniture    2023-08    230523.5
9    Furniture    2022-10    229024.8
13   Furniture    2023-02    217851.0
10   Furniture    2022-11    203673.6
1    Furniture    2022-02    192062.9
..         ...        ...         ...
67  Technology    2023-08    117665.2
48  Technology    2022-01    117116.5
51  Technology    2022-04    114747.7
54  Technology    2022-07    102816.1
49  Technology    2022-02     93493.2

[72 rows x 3 columns]

# Let's build SQL connection to get data from Pandas dataframe into SQL

# Reading data from SQL Server in Python

In [80]:
!pip install mysql-connector-python pandas

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/5f/c3/b4c36fbc65c119fca83f258557573d8cd296da5e198d3752c669f8e871e2/mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in c:\users\abhis\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\abhis\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhis\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\abhis\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\abhis\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 1.4 MB/s eta 0:00:11
   ---------------------------------------- 0.0/14.3 MB 653.6 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 660.6 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 655.4 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 656.4 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 655.8 kB/s eta 0:00:22
   ---------------------------------------- 0.2/14.3 MB 612.6 kB/s eta 0:00:24
   ---------------------------------------- 0.2/14.3 MB 618.3 kB/s eta 0:00:23
    --------------------------------------- 0.2/14.3 MB 623.6 kB/s eta 0:00:23
    --------------------------------------- 0.2/14.3 MB 626.9 kB/s eta 0:00:23
    --------------------------------------- 0.2/14.3 MB 600.7 kB/s eta 0:00:24
    --------------------------------------- 0.3/14.3 MB 630.9 kB/s eta 0:00:23
    --------------------------------------- 0.3/14.3 MB 610.3 kB/s eta 0:00:24
    --------------------------------------- 0.3/14.3 MB 596.5 kB/s eta 0:00:24
    --------------------------------------- 0.3/14.3 MB 617.1 kB/s eta 0:00:23
   - -------------------------------------- 0.4/14.3 MB 604.4 kB/s eta 0:00:24
   - -------------------------------------- 0.4/14.3 MB 622.1 kB/s eta 0:00:23
   - -------------------------------------- 0.4/14.3 MB 608.8 kB/s eta 0:00:23
   - -------------------------------------- 0.5/14.3 MB 613.3 kB/s eta 0:00:23
   - -------------------------------------- 0.5/14.3 MB 615.7 kB/s eta 0:00:23
   - -------------------------------------- 0.5/14.3 MB 603.9 kB/s eta 0:00:23
   - -------------------------------------- 0.5/14.3 MB 619.5 kB/s eta 0:00:23
   - -------------------------------------- 0.6/14.3 MB 610.3 kB/s eta 0:00:23
   - -------------------------------------- 0.6/14.3 MB 612.5 kB/s eta 0:00:23
   - -------------------------------------- 0.6/14.3 MB 614.0 kB/s eta 0:00:23
   - -------------------------------------- 0.6/14.3 MB 615.8 kB/s eta 0:00:23
   - -------------------------------------- 0.7/14.3 MB 607.5 kB/s eta 0:00:23
   - -------------------------------------- 0.7/14.3 MB 609.8 kB/s eta 0:00:23
   - -------------------------------------- 0.7/14.3 MB 602.4 kB/s eta 0:00:23
   -- ------------------------------------- 0.7/14.3 MB 604.4 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/14.3 MB 605.8 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/14.3 MB 607.5 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/14.3 MB 608.8 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/14.3 MB 610.3 kB/s eta 0:00:23
   -- ------------------------------------- 0.9/14.3 MB 604.9 kB/s eta 0:00:23
   -- ------------------------------------- 0.9/14.3 MB 606.1 kB/s eta 0:00:23
   -- ------------------------------------- 0.9/14.3 MB 607.6 kB/s eta 0:00:23
   -- ------------------------------------- 0.9/14.3 MB 608.6 kB/s eta 0:00:23
   -- ------------------------------------- 1.0/14.3 MB 610.0 kB/s eta 0:00:22
   -- ------------------------------------- 1.0/14.3 MB 604.6 kB/s eta 0:00:23
   -- ------------------------------------- 1.0/14.3 MB 605.7 kB/s eta 0:00:23
   -- ------------------------------------- 1.0/14.3 MB 606.3 kB/s eta 0:00:22
   -- ------------------------------------- 1.1/14.3 MB 608.3 kB/s eta 0:00:22
   -- ------------------------------------- 1.1/14.3 MB 603.4 kB/s eta 0:00:22
   --- ------------------------------------ 1.1/14.3 MB 609.5 kB/s eta 0:00:22
   --- ------------------------------------ 1.1/14.3 MB 605.6 kB/s eta 0:00:22
   --- ------------------------------------ 1.2/14.3 MB 606.8 kB/s eta 0:00:22
   --- ------------------------------------ 1.2/14.3 MB 608.0 kB/s eta 0:00:22
   --- ------------------------------------ 1.2/14.3 MB 609.3 kB/s eta 0:00:22
   --- ------------------------------------ 1.2/14.3 MB 605.0 kB/s eta 0:00:22
   --- ------------------------------------ 1.3/14.3 MB 606.1 kB/s eta 0:00:22
   --- ------------------------------------ 1.3/14.3 MB 607.7 kB/s eta 0:00:22
   --- ------------------------------------ 1.3/14.3 MB 608.7 kB/s eta 0:00:22
   --- ------------------------------------ 1.4/14.3 MB 605.3 kB/s eta 0:00:22
   --- ------------------------------------ 1.4/14.3 MB 606.0 kB/s eta 0:00:22
   --- ------------------------------------ 1.4/14.3 MB 607.0 kB/s eta 0:00:22
   ---- ----------------------------------- 1.5/14.3 MB 604.1 kB/s eta 0:00:22
   ---- ----------------------------------- 1.5/14.3 MB 605.1 kB/s eta 0:00:22
   ---- ----------------------------------- 1.5/14.3 MB 605.3 kB/s eta 0:00:22
   ---- ----------------------------------- 1.5/14.3 MB 606.7 kB/s eta 0:00:22
   ---- ----------------------------------- 1.5/14.3 MB 603.1 kB/s eta 0:00:22
   ---- ----------------------------------- 1.6/14.3 MB 604.2 kB/s eta 0:00:22
   ---- ----------------------------------- 1.6/14.3 MB 609.0 kB/s eta 0:00:21
   ---- ----------------------------------- 1.6/14.3 MB 605.5 kB/s eta 0:00:21
   ---- ----------------------------------- 1.7/14.3 MB 603.0 kB/s eta 0:00:22
   ---- ----------------------------------- 1.7/14.3 MB 607.6 kB/s eta 0:00:21
   ---- ----------------------------------- 1.7/14.3 MB 605.1 kB/s eta 0:00:21
   ---- ----------------------------------- 1.7/14.3 MB 605.3 kB/s eta 0:00:21
   ---- ----------------------------------- 1.8/14.3 MB 606.3 kB/s eta 0:00:21
   ----- ---------------------------------- 1.8/14.3 MB 607.2 kB/s eta 0:00:21
   ----- ---------------------------------- 1.8/14.3 MB 604.7 kB/s eta 0:00:21
   ----- ---------------------------------- 1.9/14.3 MB 605.3 kB/s eta 0:00:21
   ----- ---------------------------------- 1.9/14.3 MB 606.0 kB/s eta 0:00:21
   ----- ---------------------------------- 1.9/14.3 MB 606.7 kB/s eta 0:00:21
   ----- ---------------------------------- 2.0/14.3 MB 604.6 kB/s eta 0:00:21
   ----- ---------------------------------- 2.0/14.3 MB 604.9 kB/s eta 0:00:21
   ----- ---------------------------------- 2.0/14.3 MB 605.6 kB/s eta 0:00:21
   ----- ---------------------------------- 2.0/14.3 MB 606.2 kB/s eta 0:00:21
   ----- ---------------------------------- 2.1/14.3 MB 606.8 kB/s eta 0:00:21
   ----- ---------------------------------- 2.1/14.3 MB 604.8 kB/s eta 0:00:21
   ----- ---------------------------------- 2.1/14.3 MB 605.3 kB/s eta 0:00:21
   ----- ---------------------------------- 2.1/14.3 MB 606.0 kB/s eta 0:00:21
   ----- ---------------------------------- 2.2/14.3 MB 603.4 kB/s eta 0:00:21
   ------ --------------------------------- 2.2/14.3 MB 603.9 kB/s eta 0:00:21
   ------ --------------------------------- 2.2/14.3 MB 604.5 kB/s eta 0:00:21
   ------ --------------------------------- 2.2/14.3 MB 605.0 kB/s eta 0:00:21
   ------ --------------------------------- 2.2/14.3 MB 602.7 kB/s eta 0:00:21
   ------ --------------------------------- 2.3/14.3 MB 606.1 kB/s eta 0:00:20
   ------ --------------------------------- 2.3/14.3 MB 604.1 kB/s eta 0:00:20
   ------ --------------------------------- 2.3/14.3 MB 601.9 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.3 MB 605.1 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.3 MB 603.4 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.3 MB 603.6 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.3 MB 604.0 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.3 MB 602.2 kB/s eta 0:00:20
   ------ --------------------------------- 2.5/14.3 MB 602.9 kB/s eta 0:00:20
   ------ --------------------------------- 2.5/14.3 MB 603.2 kB/s eta 0:00:20
   ------- -------------------------------- 2.5/14.3 MB 603.7 kB/s eta 0:00:20
   ------- -------------------------------- 2.5/14.3 MB 604.2 kB/s eta 0:00:20
   ------- -------------------------------- 2.6/14.3 MB 604.8 kB/s eta 0:00:20
   ------- -------------------------------- 2.6/14.3 MB 605.2 kB/s eta 0:00:20
   ------- -------------------------------- 2.6/14.3 MB 603.6 kB/s eta 0:00:20
   ------- -------------------------------- 2.6/14.3 MB 603.7 kB/s eta 0:00:20
   ------- -------------------------------- 2.7/14.3 MB 604.4 kB/s eta 0:00:20
   ------- -------------------------------- 2.7/14.3 MB 605.0 kB/s eta 0:00:20
   ------- -------------------------------- 2.7/14.3 MB 603.4 kB/s eta 0:00:20
   ------- -------------------------------- 2.8/14.3 MB 605.8 kB/s eta 0:00:20
   ------- -------------------------------- 2.8/14.3 MB 604.3 kB/s eta 0:00:20
   ------- -------------------------------- 2.8/14.3 MB 602.7 kB/s eta 0:00:20
   ------- -------------------------------- 2.8/14.3 MB 603.1 kB/s eta 0:00:20
   -------- ------------------------------- 2.9/14.3 MB 603.6 kB/s eta 0:00:19
   -------- ------------------------------- 2.9/14.3 MB 604.1 kB/s eta 0:00:19
   -------- ------------------------------- 2.9/14.3 MB 604.5 kB/s eta 0:00:19
   -------- ------------------------------- 3.0/14.3 MB 603.1 kB/s eta 0:00:19
   -------- ------------------------------- 3.0/14.3 MB 603.6 kB/s eta 0:00:19
   -------- ------------------------------- 3.0/14.3 MB 602.1 kB/s eta 0:00:19
   -------- ------------------------------- 3.0/14.3 MB 604.4 kB/s eta 0:00:19
   -------- ------------------------------- 3.1/14.3 MB 604.9 kB/s eta 0:00:19
   -------- ------------------------------- 3.1/14.3 MB 603.4 kB/s eta 0:00:19
   -------- ------------------------------- 3.1/14.3 MB 603.8 kB/s eta 0:00:19
   -------- ------------------------------- 3.2/14.3 MB 604.2 kB/s eta 0:00:19
   -------- ------------------------------- 3.2/14.3 MB 604.6 kB/s eta 0:00:19
   -------- ------------------------------- 3.2/14.3 MB 605.0 kB/s eta 0:00:19
   --------- ------------------------------ 3.2/14.3 MB 603.7 kB/s eta 0:00:19
   --------- ------------------------------ 3.3/14.3 MB 602.4 kB/s eta 0:00:19
   --------- ------------------------------ 3.3/14.3 MB 604.4 kB/s eta 0:00:19
   --------- ------------------------------ 3.3/14.3 MB 604.9 kB/s eta 0:00:19
   --------- ------------------------------ 3.3/14.3 MB 603.5 kB/s eta 0:00:19
   --------- ------------------------------ 3.4/14.3 MB 602.4 kB/s eta 0:00:19
   --------- ------------------------------ 3.4/14.3 MB 602.6 kB/s eta 0:00:19
   --------- ------------------------------ 3.4/14.3 MB 603.0 kB/s eta 0:00:19
   --------- ------------------------------ 3.5/14.3 MB 603.5 kB/s eta 0:00:19
   --------- ------------------------------ 3.5/14.3 MB 603.7 kB/s eta 0:00:18
   --------- ------------------------------ 3.5/14.3 MB 602.6 kB/s eta 0:00:18
   --------- ------------------------------ 3.5/14.3 MB 603.0 kB/s eta 0:00:18
   --------- ------------------------------ 3.6/14.3 MB 603.3 kB/s eta 0:00:18
   ---------- ----------------------------- 3.6/14.3 MB 602.0 kB/s eta 0:00:18
   ---------- ----------------------------- 3.6/14.3 MB 604.0 kB/s eta 0:00:18
   ---------- ----------------------------- 3.6/14.3 MB 604.4 kB/s eta 0:00:18
   ---------- ----------------------------- 3.7/14.3 MB 603.1 kB/s eta 0:00:18
   ---------- ----------------------------- 3.7/14.3 MB 603.4 kB/s eta 0:00:18
   ---------- ----------------------------- 3.7/14.3 MB 602.3 kB/s eta 0:00:18
   ---------- ----------------------------- 3.7/14.3 MB 604.1 kB/s eta 0:00:18
   ---------- ----------------------------- 3.8/14.3 MB 602.7 kB/s eta 0:00:18
   ---------- ----------------------------- 3.8/14.3 MB 601.6 kB/s eta 0:00:18
   ---------- ----------------------------- 3.8/14.3 MB 601.6 kB/s eta 0:00:18
   ---------- ----------------------------- 3.8/14.3 MB 601.6 kB/s eta 0:00:18
   ---------- ----------------------------- 3.9/14.3 MB 604.0 kB/s eta 0:00:18
   ---------- ----------------------------- 3.9/14.3 MB 602.9 kB/s eta 0:00:18
   ---------- ----------------------------- 3.9/14.3 MB 603.2 kB/s eta 0:00:18
   ---------- ----------------------------- 3.9/14.3 MB 603.3 kB/s eta 0:00:18
   ----------- ---------------------------- 4.0/14.3 MB 602.2 kB/s eta 0:00:18
   ----------- ---------------------------- 4.0/14.3 MB 602.4 kB/s eta 0:00:18
   ----------- ---------------------------- 4.0/14.3 MB 602.8 kB/s eta 0:00:18
   ----------- ---------------------------- 4.0/14.3 MB 601.8 kB/s eta 0:00:18
   ----------- ---------------------------- 4.1/14.3 MB 603.4 kB/s eta 0:00:18
   ----------- ---------------------------- 4.1/14.3 MB 602.4 kB/s eta 0:00:18
   ----------- ---------------------------- 4.1/14.3 MB 602.6 kB/s eta 0:00:17
   ----------- ---------------------------- 4.1/14.3 MB 603.1 kB/s eta 0:00:17
   ----------- ---------------------------- 4.2/14.3 MB 603.2 kB/s eta 0:00:17
   ----------- ---------------------------- 4.2/14.3 MB 603.6 kB/s eta 0:00:17
   ----------- ---------------------------- 4.2/14.3 MB 602.6 kB/s eta 0:00:17
   ----------- ---------------------------- 4.2/14.3 MB 602.9 kB/s eta 0:00:17
   ----------- ---------------------------- 4.3/14.3 MB 603.2 kB/s eta 0:00:17
   ----------- ---------------------------- 4.3/14.3 MB 602.0 kB/s eta 0:00:17
   ------------ --------------------------- 4.3/14.3 MB 603.8 kB/s eta 0:00:17
   ------------ --------------------------- 4.3/14.3 MB 602.5 kB/s eta 0:00:17
   ------------ --------------------------- 4.4/14.3 MB 601.6 kB/s eta 0:00:17
   ------------ --------------------------- 4.4/14.3 MB 603.3 kB/s eta 0:00:17
   ------------ --------------------------- 4.4/14.3 MB 602.2 kB/s eta 0:00:17
   ------------ --------------------------- 4.4/14.3 MB 602.5 kB/s eta 0:00:17
   ------------ --------------------------- 4.5/14.3 MB 602.9 kB/s eta 0:00:17
   ------------ --------------------------- 4.5/14.3 MB 603.3 kB/s eta 0:00:17
   ------------ --------------------------- 4.5/14.3 MB 602.1 kB/s eta 0:00:17
   ------------ --------------------------- 4.6/14.3 MB 603.8 kB/s eta 0:00:17
   ------------ --------------------------- 4.6/14.3 MB 602.7 kB/s eta 0:00:17
   ------------ --------------------------- 4.6/14.3 MB 601.8 kB/s eta 0:00:17
   ------------ --------------------------- 4.6/14.3 MB 603.4 kB/s eta 0:00:17
   ------------- -------------------------- 4.7/14.3 MB 602.5 kB/s eta 0:00:17
   ------------- -------------------------- 4.7/14.3 MB 602.8 kB/s eta 0:00:16
   ------------- -------------------------- 4.7/14.3 MB 603.0 kB/s eta 0:00:16
   ------------- -------------------------- 4.8/14.3 MB 603.3 kB/s eta 0:00:16
   ------------- -------------------------- 4.8/14.3 MB 602.5 kB/s eta 0:00:16
   ------------- -------------------------- 4.8/14.3 MB 602.8 kB/s eta 0:00:16
   ------------- -------------------------- 4.9/14.3 MB 601.9 kB/s eta 0:00:16
   ------------- -------------------------- 4.9/14.3 MB 602.1 kB/s eta 0:00:16
   ------------- -------------------------- 4.9/14.3 MB 602.4 kB/s eta 0:00:16
   ------------- -------------------------- 4.9/14.3 MB 602.6 kB/s eta 0:00:16
   ------------- -------------------------- 5.0/14.3 MB 602.9 kB/s eta 0:00:16
   ------------- -------------------------- 5.0/14.3 MB 603.2 kB/s eta 0:00:16
   ------------- -------------------------- 5.0/14.3 MB 603.4 kB/s eta 0:00:16
   -------------- ------------------------- 5.0/14.3 MB 602.6 kB/s eta 0:00:16
   -------------- ------------------------- 5.1/14.3 MB 602.8 kB/s eta 0:00:16
   -------------- ------------------------- 5.1/14.3 MB 603.1 kB/s eta 0:00:16
   -------------- ------------------------- 5.1/14.3 MB 602.1 kB/s eta 0:00:16
   -------------- ------------------------- 5.1/14.3 MB 603.6 kB/s eta 0:00:16
   -------------- ------------------------- 5.2/14.3 MB 602.6 kB/s eta 0:00:16
   -------------- ------------------------- 5.2/14.3 MB 601.8 kB/s eta 0:00:16
   -------------- ------------------------- 5.2/14.3 MB 603.3 kB/s eta 0:00:16
   -------------- ------------------------- 5.3/14.3 MB 602.4 kB/s eta 0:00:16
   -------------- ------------------------- 5.3/14.3 MB 602.6 kB/s eta 0:00:16
   -------------- ------------------------- 5.3/14.3 MB 602.9 kB/s eta 0:00:15
   -------------- ------------------------- 5.3/14.3 MB 601.9 kB/s eta 0:00:15
   -------------- ------------------------- 5.3/14.3 MB 602.2 kB/s eta 0:00:15
   --------------- ------------------------ 5.4/14.3 MB 602.6 kB/s eta 0:00:15
   --------------- ------------------------ 5.4/14.3 MB 602.7 kB/s eta 0:00:15
   --------------- ------------------------ 5.4/14.3 MB 603.0 kB/s eta 0:00:15
   --------------- ------------------------ 5.5/14.3 MB 603.3 kB/s eta 0:00:15
   --------------- ------------------------ 5.5/14.3 MB 602.4 kB/s eta 0:00:15
   --------------- ------------------------ 5.5/14.3 MB 602.6 kB/s eta 0:00:15
   --------------- ------------------------ 5.5/14.3 MB 602.8 kB/s eta 0:00:15
   --------------- ------------------------ 5.6/14.3 MB 603.1 kB/s eta 0:00:15
   --------------- ------------------------ 5.6/14.3 MB 602.4 kB/s eta 0:00:15
   --------------- ------------------------ 5.6/14.3 MB 602.5 kB/s eta 0:00:15
   --------------- ------------------------ 5.6/14.3 MB 602.8 kB/s eta 0:00:15
   --------------- ------------------------ 5.7/14.3 MB 602.0 kB/s eta 0:00:15
   --------------- ------------------------ 5.7/14.3 MB 602.2 kB/s eta 0:00:15
   --------------- ------------------------ 5.7/14.3 MB 602.5 kB/s eta 0:00:15
   ---------------- ----------------------- 5.8/14.3 MB 601.7 kB/s eta 0:00:15
   ---------------- ----------------------- 5.8/14.3 MB 602.9 kB/s eta 0:00:15
   ---------------- ----------------------- 5.8/14.3 MB 603.2 kB/s eta 0:00:15
   ---------------- ----------------------- 5.8/14.3 MB 603.4 kB/s eta 0:00:15
   ---------------- ----------------------- 5.9/14.3 MB 602.6 kB/s eta 0:00:15
   ---------------- ----------------------- 5.9/14.3 MB 602.8 kB/s eta 0:00:15
   ---------------- ----------------------- 5.9/14.3 MB 602.0 kB/s eta 0:00:15
   ---------------- ----------------------- 5.9/14.3 MB 602.4 kB/s eta 0:00:14
   ---------------- ----------------------- 6.0/14.3 MB 602.5 kB/s eta 0:00:14
   ---------------- ----------------------- 6.0/14.3 MB 602.7 kB/s eta 0:00:14
   ---------------- ----------------------- 6.0/14.3 MB 602.1 kB/s eta 0:00:14
   ---------------- ----------------------- 6.0/14.3 MB 603.1 kB/s eta 0:00:14
   ---------------- ----------------------- 6.1/14.3 MB 602.5 kB/s eta 0:00:14
   ----------------- ---------------------- 6.1/14.3 MB 602.7 kB/s eta 0:00:14
   ----------------- ---------------------- 6.1/14.3 MB 602.9 kB/s eta 0:00:14
   ----------------- ---------------------- 6.2/14.3 MB 602.2 kB/s eta 0:00:14
   ----------------- ---------------------- 6.2/14.3 MB 602.4 kB/s eta 0:00:14
   ----------------- ---------------------- 6.2/14.3 MB 602.6 kB/s eta 0:00:14
   ----------------- ---------------------- 6.2/14.3 MB 602.8 kB/s eta 0:00:14
   ----------------- ---------------------- 6.3/14.3 MB 603.0 kB/s eta 0:00:14
   ----------------- ---------------------- 6.3/14.3 MB 602.4 kB/s eta 0:00:14

In [84]:
from sqlalchemy import create_engine
import pandas as pd

# Define the connection string
connection_string = "mysql+mysqlconnector://root:21BLC1392@localhost/data_analytics_project"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Define the SQL query you want to execute
query = "SELECT * FROM orders_data"  # Replace with your SQL query

# Use pandas to execute the query and read the data into a DataFrame
df = pd.read_sql(query, engine)

# Display the first few rows of the DataFrame
print(df.head())

   Order Id Order Date       Ship Mode    Segment        Country  \
0         1 2023-03-01    Second Class   Consumer  United States
1         2 2023-08-15    Second Class   Consumer  United States
2         3 2023-01-10    Second Class  Corporate  United States
3         4 2022-06-18  Standard Class   Consumer  United States
4         5 2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent  Unit_Selling_Price  Unit_Profit  Total Profit
0                 2               254.8         14.8          29.6
1                 3               708.1        108.1         324.3
2                 5                 9.5         -0.5          -1.0
3                 2               940.8        160.8         804.0
4                 5                19.0         -1.0          -2.0

In [85]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,...,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit,Total Profit,Total_Sale,Month,Quater,year,Month-Year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,2,2,254.8,14.8,29.6,509.6,3,1,2023,2023-03
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,3,3,708.1,108.1,324.3,2124.3,8,3,2023,2023-08
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,2,5,9.5,-0.5,-1.0,19.0,1,1,2023,2023-01
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,...,5,2,940.8,160.8,804.0,4704.0,6,2,2022,2022-06
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,...,2,5,19.0,-1.0,-2.0,38.0,7,3,2022,2022-07